<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BatMon" type="BatMon.Framework.Config.BatMonSection, BatMon.Framework" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <BatMon>
    <Email onErrorCode="Failure" smtpServer="smtp.vshed.us" smtpPort="25" From="Monitor@vshed.us" To="peter.varney@vshed.us" Subject="Scheduled Task Failure (${machinename}) [${ProcessName}]" BodyHeader="MachineName: ${machinename}${newline}Task: ${ProcessName}${newline}${newline}" Body="Scheudled task failed with folloiwng descrption.${newline}${newline}${tab}${ErrorDescription}" BodyFooter="${newline}${newline}Event Status Checked at: ${shortdate} ${shorttime}" />
  </BatMon>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="%temp%\BatMon\nlog-internal.log">

    <targets>
      <target name="Default" xsi:type="File" fileName="%temp%\BatMon\BatMon_Log.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${onexception:${newline}  ${exception:format=toString,data:maxInnerExceptionLevel=5:exceptionDataSeparator=\r\n}}" />
      <target name="DefaultWinEventLog" xsi:type="EventLog" machineName="." source="${logger}" log="Application" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${onexception:${newline}  ${exception:format=toString,data:maxInnerExceptionLevel=5:exceptionDataSeparator=\r\n}}" />
      <target name="ScheduledTasks" xsi:type="File" fileName="%temp%\BatMon\BatMon_Log_ScheduledTasks.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${onexception:${newline}  ${exception:format=toString,data:maxInnerExceptionLevel=5:exceptionDataSeparator=\r\n}}" />
      <target name="WindowsShare" xsi:type="File" fileName="%temp%\BatMon\BatMon_Log_WindowsShare.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${onexception:${newline}  ${exception:format=toString,data:maxInnerExceptionLevel=5:exceptionDataSeparator=\r\n}}" />
    </targets>

    <rules>
      <logger name="BatMon.WindowsShare.*" minlevel="Info" writeTo="WindowsShare" final="true" />
      <logger name="BatMon.ScheduledTasks.*" minlevel="Warn" writeTo="ScheduledTasks" final="true" />
      <logger name="*" minlevel="Error" writeTo="Default,DefaultWinEventLog" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
