<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="WindowsShare" type="BatMon.WindowsShare.Config.WindowsShareSection, BatMon.WindowsShare"/>
    </configSections>
    <WindowsShare>
      <!--
      <Folder ApplicationName="BatMon" TierName="WindowsShare" ProcessName="Using Systems Service Account" Path="\\host\ShareName" />
      <Folder ApplicationName="BatMon" TierName="WindowsShare" ProcessName="Using Systems Service Account - No content check" Path="\\host\ShareName" ContentCheck="false" />
      <Folder ApplicationName="BatMon" TierName="WindowsShare" ProcessName="Using Specified Credentials" Path="\\host\ShareName" User="usrBatMonTest" Password="*=%$p$" />
      <Folder ApplicationName="BatMon" TierName="WindowsShare" ProcessName="Using Specified Credentials - No content check" Path="\\host\ShareName" User="usrBatMonTest" Password="*=%$p$" ContentCheck="false" />
      -->
    </WindowsShare>
</configuration>
