<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="ScheduledTasks" type="BatMon.ScheduledTasks.Config.ScheduledTasksSection, BatMon.ScheduledTasks"/>
    </configSections>
    <ScheduledTasks>
      <Application>DefaultApplicationSvr</Application>
      <Tier>BatchJobs</Tier>
      <ApplicationDynamicOverride>\\(?'Application'[^\\]*)(?:\\)?(?:.*)?\\(?'Tier'[^\\]*)</ApplicationDynamicOverride>
      <TierDynamicOverride>\\(?'Application'[^\\]*)(?:\\)?(?:.*)?\\(?'Tier'[^\\]*)</TierDynamicOverride>
      <InitialStageResultCodes Enabled="false" />
      <ResultCodes>
        <ResultCode ExitCode="0" AppDynamicsCode="Successful">Scheduled task has completed successfully</ResultCode>
        <ResultCode ExitCode="Disabled" AppDynamicsCode="Warning">Scheduled task currently disabled</ResultCode>
        <ResultCode ExitCode="NeverRun" AppDynamicsCode="Warning">Scheduled task has never run</ResultCode>
        <ResultCode ExitCode="267011" AppDynamicsCode="Warning">Scheduled task has never run</ResultCode>
        <ResultCode ExitCode="2147216609" AppDynamicsCode="Warning">An instance of this task is already running</ResultCode>
        <ResultCode ExitCode="267009" AppDynamicsCode="Running">Started at ${Obj:LastRunTime} and is currently running.</ResultCode>
        <ResultCode ExitCode="267045" AppDynamicsCode="Running">Task Scheduler service triggered task to run at ${Obj:LastRunTime}</ResultCode>
        <ResultCode AppDynamicsCode="Failure">Scheduled task has failed to run on ${Obj:LastRunTime} with Exit Code ${Obj:LastTaskResult}</ResultCode>
      </ResultCodes>
      <FolderFilters>
        <Exclude Recursive="true">\Microsoft</Exclude>
        <Exclude Recursive="true">\Symantec Endpoint Protection</Exclude>
        <!--<Exclude Recursive="false">\</Exclude>-->
      </FolderFilters>
    </ScheduledTasks>
</configuration>
