<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="ScheduledTasks" type="BatMon.ScheduledTasks.Config.ScheduledTasksSection, BatMon.ScheduledTasks"/>
    </configSections>
    <ScheduledTasks>
      <Application>Food-Beverages-Other</Application>
      <Tier>ScheudledBatchJobsTest</Tier>
      <ApplicationDynamicOverride>\\(?'Application'[^\\]*)(?:\\)?(?:.*)?\\(?'Tier'[^\\]*)</ApplicationDynamicOverride>
      <TierDynamicOverride>\\(?'Application'[^\\]*)(?:\\)?(?:.*)?\\(?'Tier'[^\\]*)</TierDynamicOverride>
      <InitialStageResultCodes Enabled="false" />
      <ResultCodes>
        <ResultCode ExitCode="0" AppDynamicsCode="Successful">Scheduled task has completed successfully</ResultCode>
        <ResultCode ExitCode="Disabled" AppDynamicsCode="Warning">Scheduled task currently disabled</ResultCode>
        <ResultCode ExitCode="NeverRun" AppDynamicsCode="WarningNeverRun">Scheduled task has never run</ResultCode>
        <ResultCode AppDynamicsCode="Failure">Scheduled task has failed to run</ResultCode>
      </ResultCodes>
      <FolderFilters>
        <Exclude Recursive="true">\Microsoft</Exclude>
        <Exclude Recursive="true">\Symantec Endpoint Protection</Exclude>
        <!--<Exclude Recursive="false">\</Exclude>-->
      </FolderFilters>
    </ScheduledTasks>
</configuration>