<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="WindowsShare" type="BatMon.WindowsShare.Config.WindowsShareSection, BatMon.WindowsShare"/>
    </configSections>
    <WindowsShare>
      <Folder ApplicationName="BatMon" TierName="WindowsShare" ProcessName="SelfTest Success No Auth" Path="\\localhost\C$" />
      <Folder ApplicationName="BatMon" TierName="WindowsShare" ProcessName="SelfTest Success No Auth" Path="C:/" />
      <Folder ApplicationName="BatMon" TierName="WindowsShare" ProcessName="SelfTest Error No Auth" Path="\\null" />

    </WindowsShare>
</configuration>
