<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="UriEndPoints" type="BatMon.UriMonitor.Config.UriEndPoints, BatMon.UriMonitor"/>
    </configSections>
    <UriEndPoints>
      <EndPoint
        ApplicationName="BatMon"
    		TierName="UriMonitor"
		    ProcessName="URI Test - Anonymous - Status Code Check Success - No Validation String Pass"
	    	Uri="http://nas01/dokuwiki"
		    StatusCode="200" />
      <EndPoint
        ApplicationName="BatMon"
	    	TierName="UriMonitor"
	    	ProcessName="URI Test - Anonymous - No Status Code Check - Validation String Pass"
	    	Uri="http://nas01/dokuwiki"
	    	ValidationRegex="Vault" />
      <EndPoint
        ApplicationName="BatMon"
		    TierName="UriMonitor"
	    	ProcessName="URI Test - Anonymous - Status Code Check Success - Validation String Pass"
	    	Uri="http://nas01/dokuwiki"
	    	StatusCode="200"
	    	ValidationRegex="Vault" />
      <EndPoint
        ApplicationName="BatMon"
	    	TierName="UriMonitor"
	    	ProcessName="URI Test - Anonymous - Status Code Check Success - Validation String Fail"
	    	Uri="http://nas01/dokuwiki"
	    	StatusCode="200"
	    	ValidationRegex="FooBar" />
      <EndPoint
        ApplicationName="BatMon"
		    TierName="UriMonitor"
	    	ProcessName="URI Test - Anonymous - Status Code Check Fail"
	    	Uri="http://nas01/dokuwiki"
	    	StatusCode="401"
	    	ValidationRegex="Vault" />
      <EndPoint
        ApplicationName="BatMon"
	    	TierName="UriMonitor"
	    	ProcessName="URI Test - WindowsAuth Success - Status Code Success - Validation String Pass"
	    	Uri="http://"
	    	StatusCode="200"
	    	ValidationRegex="Vault"
        WindowsAuth="true" />
      <EndPoint
        ApplicationName="BatMon"
	    	TierName="UriMonitor"
	    	ProcessName="URI Test - WindowsAuth Fail"
	    	Uri="http://"
	    	StatusCode="200"
	    	ValidationRegex="Vault"
        WindowsAuth="true" />
      <EndPoint
        ApplicationName="BatMon"
	    	TierName="UriMonitor"
	    	ProcessName="URI Test - WindowsAuth with Override Success - Status Code Success - Validation String Pass"
	    	Uri="http://"
	    	StatusCode="200"
	    	ValidationRegex="Vault"
        User="usrBatMonTest"
        Password="*=%$p$"
        WindowsAuth="true" />
      <EndPoint
        ApplicationName="BatMon"
	    	TierName="UriMonitor"
	    	ProcessName="URI Test - WindowsAuth with Override Fail"
	     	Uri="http://"
	    	StatusCode="200"
	    	ValidationRegex="Vault"
        User="usrBatMonTest"
        Password="*=%$p$"
        WindowsAuth="true" />
  </UriEndPoints>
</configuration>
