<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>

  <nlog 
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" 
	autoReload="true" 
	throwExceptions="false" 
	>

    <targets>
      <target 
	    name="Default" 
		xsi:type="File" 
		fileName="%temp%\BatMon\BatMon_Log.txt" 
		layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${onexception:${newline}  ${exception:format=toString,data:maxInnerExceptionLevel=5:exceptionDataSeparator=\r\n}}"
		/>
      <target 
	    name="DefaultWinEventLog" 
		xsi:type="EventLog" 
		machineName="." 
		source="${logger}" 
		log="Application" 
		layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${onexception:${newline}  ${exception:format=toString,data:maxInnerExceptionLevel=5:exceptionDataSeparator=\r\n}}"
		/>
    </targets>

    <rules>
      <logger name="*" minlevel="Error" writeTo="Default,DefaultWinEventLog"/>
    </rules>
  </nlog>
</configuration>
